@charset "ISO-8859-1";


*{
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}


body{
	font-family: Arial;
	
}


input{
	font-family: Arial;
	font-size: 1.8rem;
	margin: 1rem;
	padding: .2rem;
	text-align: center;
	
}

.contenedor{
	display: flex;
    flex-flow: column;
    text-align: center;
    width: 100%;
    height: 100%;
}

.ap{
	font-size: 2.2rem;
	padding: 2rem;
}

.area h1{
	margin: 0 0 1rem 0;
	font-size: 2.7rem;
}

.perimetro h1{
	margin: 0 0 1rem 0;
	font-size: 2.7rem;
}

.res{
	display: flex;
    flex-flow: column;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 2.4rem;
    padding: 1rem;
	
}

.res h1 {
	 font-size: 2.7rem;
}

.res p{
	margin: .5rem;
}



